---
- name: "Download release file"
  include_tasks: fetch.yml
  vars:
    uri: "{{ release_url | regex_replace('\\/$', '') }}/release.txt"

- name: "Get release digest"
  shell: >
    grep '^Digest:' {{ dir }}/release.txt
    | tr -s ' '
    | cut -d ' ' -f 2
  register: release_digest
  changed_when: false

- name: "Download release signature"
  include_tasks: fetch.yml
  vars:
    uri: "https://mirror.openshift.com/pub/openshift-v4/signatures/openshift/release/{{ release_digest.stdout | replace(':', '=') }}/signature-1"

- name: "Download client tools"
  include_tasks: fetch.yml
  vars:
    uri: "{{ release_url | regex_replace('\\/$', '') }}/openshift-client-linux-{{ version }}.tar.gz"

- name: "Download extra release artifacts"
  include_tasks: fetch.yml
  vars:
    uri: "{{ release_url | regex_replace('\\/$', '') }}/{{ item }}"
  loop: "{{ artifacts }}"
  when:
    - mirror_artifacts | bool
...
