---
- name: "Check if rhcos.json exists"
  stat:
    path: "{{ cache_dir }}/{{ version }}/rhcos.json"
    get_checksum: false
  register: rhcos_json

- name: "Get git SHA from installer"
  shell: >
    {{ cache_dir }}/{{ version }}/openshift-baremetal-install version |
    grep "^built from" |
    awk '{ print $NF }'
  register: commit_id
  changed_when: false
  when:
    - not rhcos_json.stat.exists or force_mirroring

- name: "Fetch rhcos.json File"
  get_url:
    url: "https://raw.githubusercontent.com/openshift/installer/{{ commit_id.stdout }}/data/data/rhcos.json"
    dest: "{{ cache_dir }}/{{ version }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
    setype: httpd_sys_content_t
    timeout: 300
  become: true
  retries: 3
  delay: 10
  when:
    - not rhcos_json.stat.exists or force_mirroring

- name: "Load variables from rhcos.json"
  include_vars:
    file: "{{ cache_dir }}/{{ version }}/rhcos.json"
    name: rhcos_json_vars

- name: "Check if QEMU image exists"
  stat:
    path: "{{ cache_dir }}/{{ rhcos_json_vars | json_query('images.qemu.path') }}"
    get_checksum: false
  register: qemu_img

- name: "Download QEMU image"
  get_url:
    url: "{{ rhcos_json_vars | json_query('baseURI') }}{{ rhcos_json_vars | json_query('images.qemu.path') }}"
    dest: "{{ cache_dir }}/{{ rhcos_json_vars | json_query('images.qemu.path') }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
    setype: httpd_sys_content_t
    checksum: "sha256:{{ rhcos_json_vars | json_query('images.qemu.sha256') }}"
    timeout: 3600
  become: true
  retries: 3
  delay: 10
  when:
    - not qemu_img.stat.exists or force_mirroring

- name: "Check if OpenStack image exists"
  stat:
    path: "{{ cache_dir }}/{{ rhcos_json_vars | json_query('images.openstack.path') }}"
    get_checksum: false
  register: openstack_img

- name: "Download OpenStack image"
  get_url:
    url: "{{ rhcos_json_vars | json_query('baseURI') }}{{ rhcos_json_vars | json_query('images.openstack.path') }}"
    dest: "{{ cache_dir }}/{{ rhcos_json_vars | json_query('images.openstack.path') }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
    setype: httpd_sys_content_t
    checksum: "sha256:{{ rhcos_json_vars | json_query('images.openstack.sha256') }}"
    timeout: 3600
  become: true
  retries: 3
  delay: 10
  when:
    - not openstack_img.stat.exists or force_mirroring

- name: "Set facts for *osimage URL overrides"
  set_fact:
    bootstraposimage: "{{ webserver_url }}/{{ rhcos_json_vars | json_query('images.qemu.path') }}?sha256={{ rhcos_json_vars | json_query('images.qemu.\"uncompressed-sha256\"') }}"
    clusterosimage: "{{ webserver_url }}/{{ rhcos_json_vars | json_query('images.openstack.path') }}?sha256={{ rhcos_json_vars | json_query('images.openstack.sha256') }}"

- name: "Check if container_images.done exists"
  stat:
    path: "{{ cache_dir }}/{{ version }}/container_images.done"
    get_checksum: false
  register: container_images_done

- name: "Mirror release images to local registry"
  command: >
    {{ cache_dir }}/{{ version }}/oc adm release mirror
    --registry-config={{ cache_dir }}/{{ version }}/registry-auths.json
    --from={{ release_image.stdout | quote }}
    --to-release-image={{ registry_url | urlsplit('netloc') }}{{ registry_url | urlsplit('path') }}:{{ release_version.stdout }}
    --to={{ registry_url | urlsplit('netloc') | quote }}{{ registry_url | urlsplit('path') | quote }}
  retries: 3
  delay: 10
  register: result
  until: result.rc == 0
  when:
    - not container_images_done.stat.exists or force_mirroring

- name: "Marker for container images mirrored"
  file:
    dest: "{{ cache_dir }}/{{ version }}/container_images.done"
    state: touch
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
  when:
    - not container_images_done.stat.exists or force_mirroring
...
