---

- name: Set tnf_logs_location variable
  set_fact:
    tnf_logs_location: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/{{ test_network_function_project_name }}"

# There are three types of files to be submitted:
# - Configuration files - tnf_config.yml
# - Execution logs - dci-tnf-execution.log
# - Results of the execution - (these are only generated if the tnf execution was correct) - JUnit XML report and
# claim.json file
# - HTML report (this is only generated if the tnf execution was correct) - tar.gz containing the files needed to
# generate the HTML report. This is only loaded for tnf v4.3.1 and above
- name: Copy files related to CNF Cert Suite
  copy:
    src: "{{ item }}"
    dest: "{{ job_logs.path }}"
  with_fileglob:
    - "{{ tnf_logs_location }}/dci-tnf-execution.log"
    - "{{ tnf_logs_location }}/tnf_config.yml"
    - "{{ tnf_logs_location }}/*.xml"
    - "{{ tnf_logs_location }}/*.json"
    - "{{ tnf_logs_location }}/*-cnf-test-results.tar.gz"

# claim.json file must be present if the execution finished correctly
# This is needed for the next block.
- name: Check the presence of claim.json
  stat:
    path: "{{ tnf_logs_location }}/claim.json"
  register: claim_json_present

# This is just for v4.3.0, where tar.gz containing all the files for the HTML report was not
# created, so we do it manually.
# We separate this tasks from the others due to three reasons:
# - The destination directory is different, initially.
# - If the job was not launched properly, Javascript files are not generated, so that the third
# task in this block would fail.
# - When removing backwards compatibility, it would be as simple as removing this block.
- name: (tnf v4.3.0) Manually build the compressed file containing the HTML report
  block:
    - name: set tnf_js_logs_location variable
      set_fact:
        tnf_js_logs_location: "{{ tnf_git_dir.path }}/{{ test_network_function_project_name }}/script"

    - name: Copy Javascript files in an auxiliary folder before compressing them with HTML report
      copy:
        src: "{{ item }}"
        dest: "{{ tnf_js_logs_location }}"
      with_fileglob:
        - "{{ tnf_logs_location }}/*.js"

    - name: Compress HTML results web page to upload it to DCI
      archive:
        path:
          - "{{ tnf_js_logs_location }}/classification.js"
          - "{{ tnf_js_logs_location }}/claimjson.js"
          - "{{ tnf_js_logs_location }}/results-embed.html"
          - "{{ tnf_js_logs_location }}/results.html"
        dest: "{{ job_logs.path }}/tnf-results-web-page.tar.gz"
  when:
    - test_network_function_version is version("v4.3.0", "==")
    - claim_json_present.stat.exists|bool
...
