---
- name: "Delete Gitea Namespace"
  kubernetes.core.k8s:
    state: absent
    api: "v1"
    kind: "Namespace"
    name: "{{ sg_namespace }}"

- name: "Wait for the Gitea Namespace to be terminated"
  kubernetes.core.k8s_info:
    api: "v1"
    kind: "Namespace"
    name: "{{ sg_namespace }}"
  register: _sg_gitea_namespace
  retries: 10
  delay: 5
  until: _sg_gitea_namespace.resources | length == 0

- name: Clear mirror temp dir
  ansible.builtin.file:
    path: "{{ _sg_mirror_repo.path }}"
    state: absent
...
