# Global owners
*                                    @redhatci/all

# most of the roles come from legacy DCI, last match wins
/roles                               @redhatci/dci

# Legacy baremetal-kni roles
/roles/node_prep                     @redhatci/baremetaldeploy
/roles/installer                     @redhatci/baremetaldeploy

# Legacy crucible roles
/roles/apply_nmstate                 @redhatci/crucible
/roles/approve_csrs                  @redhatci/crucible
/roles/boot_disk                     @redhatci/crucible
/roles/boot_iso                      @redhatci/crucible
/roles/create_vms                    @redhatci/crucible
/roles/destroy_vms                   @redhatci/crucible
/roles/extract_openshift_installer   @redhatci/crucible
/roles/generate_agent_iso            @redhatci/crucible
/roles/generate_manifests            @redhatci/crucible
/roles/generate_ssh_key_pair         @redhatci/crucible
/roles/insert_dns_records            @redhatci/crucible
/roles/monitor_agent_based_installer @redhatci/crucible
/roles/mount_discovery_iso_for_pxe   @redhatci/crucible
/roles/populate_mirror_registry      @redhatci/crucible
/roles/prereq_facts_check            @redhatci/crucible
/roles/process_kvm_nodes             @redhatci/crucible
/roles/process_nmstate               @redhatci/crucible
/roles/setup_http_store              @redhatci/crucible
/roles/setup_mirror_registry         @redhatci/crucible
/roles/setup_ntp                     @redhatci/crucible
/roles/setup_selfsigned_cert         @redhatci/crucible
/roles/setup_sushy_tools             @redhatci/crucible
/roles/setup_tftp                    @redhatci/crucible
/roles/setup_vm_host_network         @redhatci/crucible
/roles/validate_dns_records          @redhatci/crucible
/roles/validate_http_store           @redhatci/crucible
/roles/vendors                       @redhatci/crucible

# verification team
/plugins/filter                      @redhatci/verification @redhatci/dci
/roles/jenkins_job_launcher          @redhatci/verification
/roles/junit2json                    @redhatci/verification
/roles/report_send                   @redhatci/verification
/tests/unit/data                     @redhatci/verification @redhatci/dci
/tests/unit/filter                   @redhatci/verification @redhatci/dci

# platform team
/roles/sideload_kernel               @redhatci/platform

# ztp
/roles/acm_spoke_mgmt                @redhatci/ztp
/roles/configure_ztp_gitops_repo     @redhatci/ztp
/roles/configure_ztp_gitops_apps     @redhatci/ztp
/roles/gitops_configure_repo         @redhatci/ztp
/roles/install_operator_gitops       @redhatci/ztp
/roles/remove_ztp_gitops_resources   @redhatci/ztp

# maintainers
/.github                             @redhatci/maintain
