---
- name: Assert all required fields are present
  assert:
    that:
      - operator | string
      - namespace | string
      - source | string

- name: "Check that {{ source }} CatalogSource is Ready"
  community.kubernetes.k8s_info:
    api: operators.coreos.com/v1alpha1
    kind: CatalogSource
    name: "{{ source }}"
    namespace: "{{ source_ns }}"
  register: source_status
  until:
    - source_status | json_query('resources[0].status.connectionState.lastObservedState') == 'READY'
  retries: 60
  delay: 10

- name: Create Namespace for OLM operator
  community.kubernetes.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ namespace }}"
        labels: "{{ ns_labels | default(omit) }}"

- name: "Labeling namespace to cover PodSecurity requirements"
  community.kubernetes.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ namespace }}"
        labels:
          pod-security.kubernetes.io/enforce: privileged
          pod-security.kubernetes.io/enforce-version: latest
          security.openshift.io/scc.podSecurityLabelSync: "false"

- name: Create OperatorGroup for OLM operator
  community.kubernetes.k8s:
    definition:
      apiVersion: operators.coreos.com/v1
      kind: OperatorGroup
      metadata:
        # setting the operator_group_name allows re-using OGs between operators
        name: "{{ operator_group_name | default(operator) }}"
        namespace: "{{ namespace }}"
      spec: "{{ operator_group_spec | default(omit) }}"

- name: "Operator installation"
  block:

    - name: "Get operator's package manifests"
      community.kubernetes.k8s_info:
        api: packages.operators.coreos.com/v1
        kind: PackageManifest
        namespace: default
      register: packagemanifest_all
      retries: 9
      delay: 10
      until:
        - packagemanifest_all.resources is defined
        - packagemanifest_all.resources | length > 0
      no_log: true

    - name: "Set operator's channel to use"
      vars:
        pkg_details: >
          resources[*].{ packageName: metadata.name,
            packageSource: status.catalogSource,
            packageDefaultChannel: status.defaultChannel
          }
        packagemanifests: "{{ packagemanifest_all | json_query(pkg_details) }}"
        package_query: "[? packageName=='{{ operator }}' &&
                           packageSource=='{{ source }}' ].packageDefaultChannel"
        default_channel: "{{ packagemanifests | json_query(package_query) | first }}"
      set_fact:
        desired_channel: "{{ ( channel | length ) | ternary(channel, default_channel) }}"

    - name: Create subscription for OLM operator
      community.kubernetes.k8s:
        definition:
          apiVersion: operators.coreos.com/v1alpha1
          kind: Subscription
          metadata:
            name: "{{ operator }}"
            namespace: "{{ namespace }}"
          spec:
            channel: "{{ desired_channel }}"
            installPlanApproval: "{{ starting_csv | default('') | length | ternary('Manual', 'Automatic') }}"
            config:
              resources: {}
            name: "{{ operator }}"
            source: "{{ source }}"
            sourceNamespace: "{{ source_ns }}"
            startingCSV: "{{ starting_csv | default('') | length | ternary(starting_csv, omit) }}"

    - name: Wait for subscription to be ready
      community.kubernetes.k8s_info:
        api: operators.coreos.com/v1alpha1
        kind: Subscription
        namespace: "{{ namespace }}"
        name: "{{ operator }}"
      register: sub
      retries: 20
      delay: 30
      until:
        - sub.resources is defined
        - sub.resources | length == 1
        - "'status' in sub.resources[0]"
        - "'currentCSV' in sub.resources[0].status"
        - sub.resources[0].status.currentCSV | length > 0

    - name: "Get operator's CSV for desired channel"
      set_fact:
        operator_csv: "{{ starting_csv | default('') | length | ternary(starting_csv, sub.resources[0].status.currentCSV) }}"

    - block:
        - name: "Get Install plans"
          community.kubernetes.k8s_info:
            api: operators.coreos.com/v1alpha1
            kind: InstallPlan
            namespace: "{{ namespace }}"
          register: install_plans
          retries: 5
          delay: 5
          until:
            - install_plans.resources is defined
            - install_plans.resources | length

        - name: Approve install plan for specific CSV
          community.kubernetes.k8s:
            definition:
              apiVersion: operators.coreos.com/v1alpha1
              kind: InstallPlan
              metadata:
                name: "{{ install_plan }}"
                namespace: "{{ namespace }}"
              spec:
                approved: true
          vars:
            query: "resources[? spec.approved == `false` && contains(spec.clusterServiceVersionNames, '{{ operator_csv }}')]"
            install_plan: "{{ (install_plans | json_query(query) | first).metadata.name }}"
      when:
        - starting_csv | default('') | length

    - name: "{{ ocp_version }} - {{ operator_csv }} - wait for CSV to be ready"
      community.kubernetes.k8s_info:
        api: operators.coreos.com/v1alpha1
        namespace: "{{ namespace }}"
        kind: ClusterServiceVersion
        name: "{{ operator_csv }}"
      register: csv
      retries: 20
      delay: 30
      until:
        - csv.resources is defined
        - csv.resources | length == 1
        - "'status' in csv.resources[0]"
        - "'phase' in csv.resources[0].status"
        - csv.resources[0].status.phase == 'Succeeded' or
          csv.resources[0].status.phase == 'Present'
  rescue:
    - name: "Catalog sources information"
      community.kubernetes.k8s_info:
        api: operators.coreos.com/v1alpha1
        kind: CatalogSource
      register: catalog_info

    - name: "Subscriptions information"
      community.kubernetes.k8s_info:
        api: operators.coreos.com/v1alpha1
        kind: Subscription
        namespace: "{{ namespace }}"
      register: subs_info

    - name: "Install plans information"
      community.kubernetes.k8s_info:
        api: operators.coreos.com/v1alpha1
        kind: InstallPlan
        namespace: "{{ namespace }}"
      register: ip_info

    - name: "Print catalog information"
      debug:
        msg: "{{ catalog_info.resources }}"

    - name: "Print Subscription information"
      debug:
        msg: "{{ subs_info.resources }}"

    - name: "Print InstallPlan information"
      debug:
        msg: "{{ ip_info.resources }}"

    - name: "Issues during operator installation"
      fail:
        msg: "There where issues during the operator deployment. See debug info in the above tasks"

- name: "Patch subscription according to install_approval - Default: Manual"
  community.kubernetes.k8s:
    definition:
      apiVersion: operators.coreos.com/v1alpha1
      kind: Subscription
      metadata:
        name: "{{ operator }}"
        namespace: "{{ namespace }}"
      spec:
        installPlanApproval: "{{ install_approval | default('Manual') }}"
        channel: "{{ desired_channel }}"
        config:
          resources: {}
        name: "{{ operator }}"
        source: "{{ source }}"
        sourceNamespace: "{{ source_ns }}"
...
