{ {% for host_string in nodes_info.results|map(attribute='stdout')|list %}{% set host_data = host_string|from_yaml %}"{{ host_data.name }}": {"ipmi_user": "{{ vbmc_user }}", "ipmi_pass": "{{ vbmc_pass  }}", "ipmi_address": "{{ vbmc_management_address }}","ipmi_port":"{{ vbmc_ports[host_data.name] }}","mac_address": "{{ host_data.mac }}"{% if host_data.hint_serial | length %},"root_device_hint": "serialNumber","root_device_hint_value": "{{ host_data.hint_serial }}"{% endif %}}{% if not loop.last %},{% endif %}{% endfor %} }
