apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetwork
metadata:
  name: "{{ sriov_network_name }}"
  namespace: openshift-sriov-network-operator
spec:
  networkNamespace: "{{ sriov_network_target_namespace }}"
  vlan: {{ sriov_network_vlan|int }}
  resourceName: "{{ sriov_network_resource }}"
  spoofChk: "on"
  trust: "on"
  ipam: '{ }'
