apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetworkNodePolicy
metadata:
  name: {{ sriov['policy'] }}
  namespace: openshift-sriov-network-operator
spec:
  nodeSelector:
    {{ sriov['nodeselector'] | default('"node-role.kubernetes.io/worker": ""') }}
  resourceName: {{ sriov['resource'] }}
  priority: {{ sriov['priority'] | default(99) }}
{% if sriov['mtu'] is defined %}
  mtu: {{ sriov['mtu'] }}
{% endif %}
  numVfs: {{ sriov['numvfs'] }}
  nicSelector:
{% if sriov['vendor'] is defined %}
    vendor: {{ sriov['vendor'] }}
{% endif %}
{% if sriov['deviceid'] is defined %}
    deviceID: {{ sriov['deviceid'] }}
{% endif %}
{% if sriov['rootdevices'] is defined %}
    rootDevices:
{% for rootdevice in sriov['rootdevices'] %}
      - {{ rootdevice }}
{% endfor %}
{% endif %}
    pfNames:
{% for device in sriov['devices'] %}
      - {{ device }}
{% endfor %}
  deviceType: {{ sriov['device_type'] | default('netdevice') }}
