apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetwork
metadata:
  name: "{{ sriov['name'] }}"
  namespace: openshift-sriov-network-operator
spec:
  networkNamespace: "{{ sriov['target_namespace'] }}"
  vlan: {{ sriov['vlan']|int }}
  resourceName: "{{ sriov['resource'] }}"
  spoofChk: "on"
  trust: "on"
  ipam: '{ }'
