apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  operators:
{% for catalog, results in im_catalogs_with_operators %}
    - catalog: {{ catalog }}
      full: false
      packages:
{% for result in results %}
{%- set parts = result.stdout.split() %}
{%- set version = parts[2] %}
        - name: '{{ parts[0] }}'
          channels:
            - name: '{{ parts[1] }}'
              minVersion: '{{ version }}'
              maxVersion: '{{ version }}'
{% endfor %}
{% endfor %}
