apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  operators:
{% for catalog, operators in _im_catalogs_with_operators %}
    - catalog: {{ catalog }}
      full: true
      packages:
{% for op in operators %}
        - name: {{ op.operator }}
{% endfor %}
{% endfor %}
