<network>
  <name>{{ vm_net_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <domain name='{{ cluster }}.{{ domain }}'/>
  <dns enable='yes'>
    <host ip='{{ sno_extnet_ip }}'>
      <hostname>api.{{ cluster }}.{{ domain }}</hostname>
      <hostname>api-int.{{ cluster }}.{{ domain }}</hostname>
      <hostname>console-openshift-console.apps.{{ cluster }}.{{ domain }}</hostname>
      <hostname>oauth-openshift.apps.{{ cluster }}.{{ domain }}</hostname>
      <hostname>canary-openshift-ingress-canary.apps.{{ cluster }}.{{ domain }}</hostname>
      <hostname>{{ hostvars[groups['masters'][0]]['name'] }}.{{ cluster }}.{{ domain }}</hostname>
    </host>
  </dns>
  <ip address='{{ extcidrnet | ipaddr('first_usable') }}' prefix='{{ extcidrnet | ipaddr('prefix') }}'>
    <dhcp>
      <host mac='{{ vm_nic_mac }}' name='{{ hostvars[groups['masters'][0]]['name'] }}' ip='{{ sno_extnet_ip }}'/>
    </dhcp>
  </ip>
</network>
