---
ac_cluster_api: https://kubernetes.default.svc
ac_namespace: openshift-gitops
ac_app_dir_recurse: false
ac_hide_secrets: true
ac_permissions_def:
  apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRoleBinding
  metadata:
    name: gitops-cluster
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: cluster-admin
  subjects:
    - kind: ServiceAccount
      name: openshift-gitops-argocd-application-controller
      namespace: "{{ ac_namespace }}"
ac_project: project
ac_project_def:
  apiVersion: argoproj.io/v1alpha1
  kind: AppProject
  metadata:
    name: "{{ ac_project }}"
    namespace: "{{ ac_namespace }}"
  spec:
    clusterResourceWhitelist:
      - group: '*'
        kind: '*'
    namespaceResourceWhitelist:
      - group: '*'
        kind: '*'
    destinations:
      - namespace: '*'
        server: '*'
    sourceRepos:
      - '*'
ac_repo_branch: main
ac_wait_retries: 30
ac_wait_delay: 10
