apiVersion: v1
kind: Secret
metadata:
  name: private-repo
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ gcr_ztp_gitops_repo }}
  sshPrivateKey: |
    {{ gcr_ssh_key | indent(4)}}
