apiVersion: v1
kind: Secret
metadata:
  name: {{ gcr_private_repo_secret }}
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ gcr_ztp_gitops_repo }}
  sshPrivateKey: |
    {{ lookup('file', gcr_ssh_key_path) | indent(4)}}
