apiVersion: v1
kind: Secret
metadata:
  name: private-repo
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ ztp_gitops_repo }}
  sshPrivateKey: |
    {{ gitlab_key.stdout | indent(4)}}
