id = "fast-datapath"
name = "Fast Datapath for RHEL {{ ansible_distribution_major_version }}"
type = "yum-baseurl"
url = "{{ microshift_generate_iso_fast_datapath_repo_url }}"
check_gpg = true
check_ssl = true
system = false
rhsm = true
