id = "microshift"
name = "Microshift {{ microshift_generate_iso_microshift_version }}"
type = "yum-baseurl"
url = "{{ microshift_generate_iso_microshift_repo_url }}"
check_gpg = false
check_ssl = true
system = false
