apiVersion: "{{ vm.api_version | default(kvirt_vm_api_version) }}"
kind: "VirtualMachine"
metadata:
  name: "{{ vm.name }}"
  namespace: "{{ vm.namespace | default(kvirt_vm_namespace) }}"
{% if vm.labels is defined %}
  labels:
{% for key, value in vm.labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
spec:
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        annotations:
          cdi.kubevirt.io/storage.bind.immediate.requested: "true"
        name: os-disk-{{ vm.namespace | default(kvirt_vm_namespace) }}-{{ vm.name }}
      spec:
        accessModes: [ "{{ vm.disk_mode | default(kvirt_vm_disk_mode)  }}" ]
{% if vm.storage_class is defined %}
        storageClassName: "{{ vm.storage_class }}"
{% endif %}
        source:
          blank: {}
        storage:
          resources:
            requests:
              storage: "{{ vm.disk_size | default(kvirt_vm_disk_size) }}"
{% if vm.running is defined %}
  running: {{ vm.running }}
{% else %}
  runStrategy: {{ vm.run_strategy | default(kvirt_vm_run_strategy) }}
{% endif %}
  template:
    metadata:
      annotations:
        vm.kubevirt.io/os: "{{ vm.os | default(kvirt_vm_os) }}"
{% if vm.annotations is defined %}
{% for key, value in vm.annotations.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
      labels:
        kubevirt.io/domain: "{{ vm.namespace | default(kvirt_vm_namespace) }}"
{% if vm.labels is defined %}
{% for key, value in vm.labels.items() %}
        {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    spec:
{% if vm.affinity_group is defined %}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: affinity_group_{{ vm.affinity_group }}
                operator: Exists
            topologyKey: kubernetes.io/hostname
{% endif %}
{% if vm.readiness_probe is defined and vm.readiness_probe %}
{{ vm.readiness_probe | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if vm.node_selector is defined %}
      nodeSelector: {{ vm.node_selector }}
{% endif %}
      architecture: amd64
      domain:
        cpu:
          cores: {{ vm.cpu_cores | default(kvirt_vm_cpu_cores) }}
          sockets: {{ vm.cpu_sockets | default(kvirt_vm_cpu_sockets) }}
          threads: {{ vm.cpu_threads | default(kvirt_vm_cpu_threads) }}
        devices:
          disks:
            - disk:
                bus: virtio
              name: rootdisk
          interfaces: {{ vm.interfaces | default(kvirt_vm_interfaces) }}
          networkInterfaceMultiqueue: {{ vm.network_interface_multiqueue | default(kvirt_vm_network_interface_multiqueue) }}
          rng: {}
        features:
          acpi: {}
          smm:
            enabled: true
        firmware:
          bootloader:
            efi: {}
        memory:
          guest: "{{ vm.memory | default(kvirt_vm_memory)}}"
        resources: {}
      networks: {{ vm.networks | default(kvirt_vm_networks) }}
      volumes:
        - dataVolume:
            name: os-disk-{{ vm.namespace | default(kvirt_vm_namespace) }}-{{ vm.name }}
          name: rootdisk
