#jinja2: trim_blocks:False
[all:vars]
prov_nic={{ prov_nic }}
pub_nic={{ pub_nic }}
domain={{ domain }}
cluster={{ cluster }}
dnsvip={{ dns_vip_address }}
masters_prov_nic={{ masters_prov_nic }}
dir="{{ '{{' }} ansible_user_dir {{ '}}' }}/clusterconfigs"
#local_registry_host={{ ansible_fqdn }}
#local_registry_port=4443
#provision_cache_store="/opt/cache"

#webserver_url="http://{{ ansible_fqdn }}:8080"

{% if enable_lso | default(false) | bool %}
ocs_install_type=internal
local_storage_devices=["/dev/sdb"]

[ocs_nodes:children]
workers

[ocs_nodes:vars]
lso_label='{"cluster.ocs.openshift.io/openshift-storage": ""}'
{% endif %}

# Master nodes
[masters]
{% for key, value in ironic_nodes.items() -%}
{% if 'master' in key -%}
{{ key }} {{ "ansible_host=" + key + "." + ansible_fqdn if not do_dns_config|bool else "" }} name={{ key }} role=master ipmi_user={{ value.ipmi_user }} ipmi_password={{ value.ipmi_pass }} ipmi_address={{ value.ipmi_address }} ipmi_port={{ value.ipmi_port }} provision_mac={{ value.mac_address }} hardware_profile=default socket_console={{ enable_conserver }}{% if value.root_device_hint is defined %} root_device_hint={{ value.root_device_hint }}{% endif %}{% if value.root_device_hint_value is defined %} root_device_hint_value={{ value.root_device_hint_value }}{% endif %}
{% endif %}
{%- endfor %}

[masters:vars]
ansible_user=core
ansible_ssh_extra_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ~/.ssh/{{ cluster }}-provisioner_rsa'

# Worker nodes
[workers]
{% for key, value in ironic_nodes.items() -%}
{% if 'worker' in key -%}
{{ key }} {{ "ansible_host=" + key + "." + ansible_fqdn if not do_dns_config|bool else "" }} name={{ key }} role=worker ipmi_user={{ value.ipmi_user }} ipmi_password={{ value.ipmi_pass }} ipmi_address={{ value.ipmi_address }} ipmi_port={{ value.ipmi_port }} provision_mac={{ value.mac_address }} hardware_profile=unknown socket_console={{ enable_conserver }}{% if value.root_device_hint is defined %} root_device_hint={{ value.root_device_hint }}{% endif %}{% if value.root_device_hint_value is defined %} root_device_hint_value={{ value.root_device_hint_value }}{% endif %}
{% endif %}
{%- endfor %}

[workers:vars]
ansible_user=core
ansible_ssh_extra_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ~/.ssh/{{ cluster }}-provisioner_rsa'

# Provision Host
[provisioner]
{% for key, value in ironic_nodes.items() -%}
{% if 'provision' in key -%}
{{ key }}{{ "." + ansible_fqdn if not do_dns_config|bool else "" }} {{ "ansible_host=" + key + "." + ansible_fqdn if not do_dns_config|bool else "" }} name={{ key }} ansible_user={{ provisionhost_user }} prov_nic=eth0 pub_nic=eth1 ansible_ssh_common_args="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
{% endif %}
{%- endfor %}

# Registry Host
#   Define a host here to create or use a local copy of the installation registry
#   Used for disconnected installation
[registry_host]
#{{ ansible_fqdn }} ansible_user=dci-openshift-agent

[registry_host:vars]
# The following cert_* variables are needed to create the certificates
#   when creating a disconnected registry. They are not needed to use
#   an existing disconnected registry.
#disconnected_registry_auths_file=/opt/cache/{{ ansible_fqdn }}-auths.json
#disconnected_registry_mirrors_file=/opt/cache/{{ ansible_fqdn }}-trust-bundle.yml
#registry_dir="/opt/registry"
#local_repo=ocp4/openshift4
# The following mirror entries are the default ones. If you want to add more mirror
#   you can uncomment this parameter and add it here.
#registry_source_mirrors=["quay.io/openshift-release-dev/ocp-v4.0-art-dev", "registry.svc.ci.openshift.org/ocp/release", "quay.io/openshift-release-dev/ocp-release"]
