apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: hco-operatorhub
  namespace: "{{ cnv_ns }}"
spec:
{% if cnv_version is defined %}
  channel: "{{ cnv_version | string  }}"
{% endif %}
  source: "{{ opm_catalog_source_name }}"
  installPlanApproval: "Automatic"
  sourceNamespace: "{{ opm_catalog_source_namespace | default('openshift-marketplace') }}"
  name: kubevirt-hyperconverged