{% if ocp_version_storage is version('4.8', operator='lt', strict=True) %}
apiVersion: batch/v1beta1
{% else %}
apiVersion: batch/v1
{% endif %}
kind: CronJob
metadata:
  name: storage-volume-creation-test-rwo
  namespace: storage-tester
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: "Replace"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 90
  jobTemplate:
    spec:
      activeDeadlineSeconds: 60
      backoffLimit: 1
      template:
        metadata:
          labels:
            parent: "cronjobstoragerwo"
        spec:
          containers:
          - name: volume-tester
{% if dci_disconnected | default(false) %}
            image: "{{ local_registry }}/rhel8/support-tools"
{% else %}
            image: "registry.redhat.io/rhel8/support-tools"
{% endif %}
            imagePullPolicy: IfNotPresent
            command: ["/bin/sh"]
            args: ["-c", "date >> /data-tester/test.txt; sleep 5"]
            volumeMounts:
              - name: volume-for-upgrade
                mountPath: /data-tester
          restartPolicy: OnFailure
          terminationGracePeriodSeconds: 5
          volumes:
          - name: volume-for-upgrade
            persistentVolumeClaim:
               claimName: storage-upgrade-tester-rwo
