---
test_network_function_repo: https://github.com/test-network-function/cnf-certification-test
test_network_function_version: "v4.0.0"
test_network_function_project_name: cnf-certification-test
dci_openshift_app_image: "quay.io/testnetworkfunction/cnf-test-partner:latest"
tnf_if: eth0
tnf_suites: "access-control networking lifecycle observability platform-alteration operator"
# By default, tnf_config takes the dci_openshift_app_ns namespace as it is already created by dci-openshift-app-agent,
# and set the other items as empty values. Under these conditions (i.e. no pods are discovered), no CNF Cert Suite tests are run.
tnf_config:
  - namespace: "{{ dci_openshift_app_ns }}"
    targetpodlabels: []
    operators_regexp: ""
    exclude_connectivity_regexp: ""
accepted_kernel_taints: []
tnf_non_intrusive_only: true
tnf_run_cfd_test: false
tnf_log_level: "debug"
tnf_postrun_delete_resources: true
