---
- name: Check if the release image is pullable from the local registry
  ansible.builtin.command: >
    skopeo inspect
    --no-tags
    --authfile {{ mor_auths_file }}
    docker://{{ mor_registry_url }}/{{ mor_registry_path }}:{{ mor_version }}
  register: _mor_release_image
  failed_when: false
  when: not mor_force | bool

- name: Mirror release images to local registry
  ansible.builtin.command: >-
    {{ mor_cache_dir }}/{{ mor_version }}/oc adm release mirror
    --registry-config={{ mor_auths_file }}
    --from={{ ocp_release_data['container_image'] | quote }}
    --to-release-image={{ mor_registry_url }}/{{ mor_registry_path }}:{{ mor_version }}
    --to={{ mor_registry_url }}/{{ mor_registry_path }}
  retries: 3
  delay: 10
  register: _mor_result
  until: _mor_result.rc == 0
  changed_when: _mor_result.rc == 0
  when: _mor_release_image.rc != 0 or mor_force | bool

- name: Generate Image Source manifest
  ansible.builtin.command: >-
    {{ mor_cache_dir }}/{{ mor_version }}/oc adm release mirror
    --registry-config={{ mor_auths_file }}
    --from={{ ocp_release_data['container_image'] | quote }}
    --to-release-image={{ mor_registry_url }}/{{ mor_registry_path }}:{{ mor_version }}
    --to={{ mor_registry_url }}/{{ mor_registry_path }}
    {{ mor_version is version("4.14", "<") | ternary("", "--print-mirror-instructions=" + mor_is_type | lower ) }}
  retries: 3
  delay: 10
  register: _mor_result
  until: _mor_result.rc == 0
  changed_when: _mor_result.rc == 0

- name: Grab generated Image Source manifest
  ansible.builtin.shell: >
    set -o pipefail;
    echo -e "{{ _mor_result.stdout }}" |
    sed -n '/apiVersion/,$p' |
    sed -e 's/name:.*/name: release-{{ mor_version }}/'
  register: is_release

- name: Write Image Source manifest
  ansible.builtin.copy:
    dest: "{{ mor_cache_dir }}/{{ mor_version }}/imagesource.yaml"
    owner: "{{ mor_owner }}"
    group: "{{ mor_group }}"
    mode: "0644"
    setype: httpd_sys_content_t
    content: "{{ is_release.stdout }}"
  become: true
...
