apiVersion: examplecnf.openshift.io/v1
kind: TestPMD
metadata:
  name: testpmd
  namespace: {{ ecd_cnf_namespace }}
spec:
  privileged: false
  imagePullPolicy: {{ ecd_image_pull_policy }}
  ethpeerMaclist: {{ ecd_trex_mac_list }}
  size: 1  
  networks: {{ ecd_networks_testpmd_app }}
  terminationGracePeriodSeconds: {{ ecd_termination_grace_period_seconds }}
{% if ecd_high_perf_runtime is defined and ecd_high_perf_runtime|length %}
  runtime_class_name: "{{ ecd_high_perf_runtime }}"
{% endif %}
{% if ecd_numa_aware_topology is defined and ecd_numa_aware_topology | length %}
  numa_aware_topology: "{{ ecd_numa_aware_topology }}"
{% endif %}
