set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=5
### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/10_linux ###
menuentry 'RHEL CoreOS (Live)' --class fedora --class gnu-linux --class gnu --class os {
        linux {{ coreos_pxe_kernel_path }} random.trust_cpu=on ignition.config.url={{ coreos_sno_ignition_url }} coreos.live.rootfs_url={{ coreos_pxe_rootfs_url }} ignition.firstboot ignition.platform.id=metal 
        initrd {{ coreos_pxe_initramfs_path }}
}
