{% if om_helm_charts | default([]) | length > 0 %}
  helm:
    repositories:
{% for chart in om_helm_charts %}
      - name: '{{ chart.name | replace("'", "''") }}'
        url: '{{ chart.url | replace("'", "''") }}'
{% if chart.charts is defined and chart.charts | length > 0 %}
        charts:
{% for c in chart.charts %}
          - name: '{{ c.name | replace("'", "''") }}'
{% if c.version is defined %}
            version: '{{ c.version | replace("'", "''") }}'
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
