apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  operators:
{% for catalog, operators in _om_catalogs_with_operators %}
    - catalog: {{ catalog }}
      full: true
      packages:
{% for op in operators %}
        - name: {{ op.operator }}
{% endfor %}
{% endfor %}
{% if om_helm_charts | length > 0 %}
  helm:
    repositories:
{% for chart in om_helm_charts %}
      - name: {{ chart.name }}
        url: {{ chart.url }}
{% if chart.charts is defined %}
        charts:
{% for c in chart.charts %}
          - name: {{ c.name }}
{% if c.version is defined %}
            version: {{ c.version }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
