apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  operators:
{% for catalog, results in om_catalogs_with_operators %}
    - catalog: {{ catalog }}
      full: false
      packages:
{% for result in results %}
{%- set parts = result.stdout.split() %}
{%- set version = parts[2] %}
        - name: '{{ parts[0] }}'
          channels:
            - name: '{{ parts[1] }}'
              minVersion: '{{ version }}'
              maxVersion: '{{ version }}'
{% endfor %}
{% endfor %}
{% if om_helm_charts | length > 0 %}
  helm:
    repositories:
{% for chart in om_helm_charts %}
      - name: {{ chart.name }}
        url: {{ chart.url }}
{% if chart.charts is defined %}
        charts:
{% for c in chart.charts %}
          - name: {{ c.name }}
{% if c.version is defined %}
            version: {{ c.version }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
