#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
rendezvousIP: {{ hostvars[agent_based_installer_bootstrap_node][host_ip_keyword] }}
additionalNTPSources:
    - {{ hostvars[agent_based_installer_bootstrap_node]['ntp_server'] }}
hosts:
{% for hostname in groups['masters'] + (groups['workers'] | default([])) | sort %}
  - role: {{ hostvars[hostname]['role'] }}
    hostname: {{ hostname }}
  {% if hostname in static_network_config %}
    interfaces:
      {% for iface in static_network_config[hostname].mac_interface_map %}
        - name: {{ iface.logical_nic_name }}
          macAddress: {{ iface.mac_address }}
      {% endfor %}
    networkConfig:
      {{ static_network_config[hostname].network_yaml | indent(6) }}
  {% endif %}
  {% if hostvars[hostname]['root_device_hints'] | default({}) | length > 0 or hostvars[hostname]['installation_disk_path'] is defined %}
    rootDeviceHints:
    {% if hostvars[hostname]['installation_disk_path'] is defined %}
      deviceName: {{ hostvars[hostname]['installation_disk_path'] }}
    {% else %}
      {% for key, rdh in (hostvars[hostname]['root_device_hints'] | default({})).items() %}
      {{ key }}: {{ rdh | to_json }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
