apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  namespace: {{ ocs_storage_namespace }}
  name: {{ ocs_storagecluster_name }}
spec:
  enableCephTools: {{ odf_setup_enable_ceph_tools | bool }}
{% if odf_setup_enable_encryption | bool %}
  encryption:
    clusterWide: true
    keyRotation:
      enable: true
      schedule: '@{{ odf_setup_key_rotation_period }}'
    kms: {}
{% endif %}
{% if enable_object_gateway | default(false) | bool %}
  multiCloudGateway:
    reconcileStrategy: ignore
{% endif %}
{% if ocs_install_type == 'external' %}
  externalStorage:
    enable: true
  labelSelector: {}
{% elif ocs_install_type == 'internal' %}
  manageNodes: false
  monDataDirHostPath: /var/lib/rook
  storageDeviceSets:
  - count: {{ ocs_total_deviceset | default(local_storage_devices | length) }}
    dataPVCTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: "1"
        storageClassName: localblock
        volumeMode: Block
    name: ocs-deviceset
    placement: {}
    portable: false
    replica: {{ replica_size | int }}
    resources: {}
{% endif %}
