---
- name: "Get current date"
  ansible.builtin.set_fact:
    eco_gotests_date: "{{ ansible_date_time.iso8601_basic_short }}"

- name: "Create reports directory"
  ansible.builtin.file:
    path: "{{ eco_gotests_log_dir }}/{{ eco_gotests_date }}/eco_gotests/{{ item | lower }}"
    state: directory
    mode: '0755'
  loop: "{{ eco_gotests_test_suites | list }}"

- name: "Build container image"
  ansible.builtin.include_tasks: build.yml
  when:
    - 'eco_gotests_path is defined'

- name: "Eco_gotests : Run PTP tests"
  ansible.builtin.include_tasks: ptp.yml
  when:
    - '"ptp" in ( eco_gotests_test_suites | lower )'

- name: "Eco_gotests : Run SRIOV tests"
  ansible.builtin.include_tasks: sriov.yml
  when:
    - '"sriov" in ( eco_gotests_test_suites | lower )'

- name: "Rename junit XML files with the feature name"
  ansible.builtin.shell: |
    if [ -d "{{ eco_gotests_log_dir }}/{{ eco_gotests_date }}/eco_gotests/{{ item }}" ]; then
      find "{{ eco_gotests_log_dir }}/{{ eco_gotests_date }}/eco_gotests/{{ item }}" \
        -type f \
        -exec sh -c 'mv "$1" "{{ eco_gotests_log_dir }}/{{ item }}_$(basename "$1")"' _ {} \;
    fi
  loop:
    - ptp
    - sriov
  changed_when: false
