---

apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: {{ asm_cluster_name }}
stringData:
  autoImportRetry: "2"
  kubeconfig: >

{{ asm_kubeconfig | regex_replace('\n', '\n\n') | indent(4, True) }}

type: Opaque

...
