---
- name: Deploy hypershift cluster
  ansible.builtin.shell:
    cmd: >
      set -e;
      {{ ah_hcp_cli_path }} create cluster {{ ah_cluster_type }}
      --name={{ ah_cluster_generated_name }}
      {%- if ah_base_domain is defined %} --base_domain={{ ah_base_domain }}{%- endif %}
      --pull-secret={{ ah_pullsecret_file }}
      --namespace={{ ah_clusters_ns }}
      --cluster-cidr={{ ah_cluster_network_cidr }}
      --memory="{{ ah_node_memory }}"
      --node-pool-replicas={{ ah_node_pool_replicas }}
      --release-image={{ ah_release_image }}
      {%- if ah_ics is defined %} --image-content-sources "{{ ah_ics }}"{%- endif %}
      {%- if ah_ca_bundle_file is defined %} --additional-trust-bundle "{{ ah_ca_bundle_file }}"{%- endif %}
      {%- if ah_hc_annotations | length >0 %} --annotations {{ ah_hc_annotations }}{%- endif %}
      {%- if ah_ssh_key | length >0 %} --ssh-key {{ ah_ssh_key }}{%- endif %}
  notify: Remove working directory
  changed_when: false

- name: Wait for Hosted Cluster initialization
  ansible.builtin.pause:
    seconds: 10

- name: Monitor Hosted Cluster Control-Plane availability
  community.kubernetes.k8s_info:
    api_version: hypershift.openshift.io/v1beta1
    kind: HostedCluster
    namespace: "{{ ah_clusters_ns }}"
    name: "{{ ah_cluster_generated_name }}"
  register: ah_hc_info
  until:
    - ah_hc_info.resources is defined
    - ah_hc_info.resources | length
    - ah_hc_info | json_query('resources[0].status.conditions[? type==`Available`]') | length
    - ah_hc_info | json_query('resources[0].status.conditions[? type==`Available`].status') | first | bool
  retries: 90
  delay: 10
  no_log: true

- name: Get hosted cluster credentials
  ansible.builtin.include_tasks: get-credentials.yml

- name: Monitor Hosted Cluster Nodes availability
  community.kubernetes.k8s_info:
    api_version: hypershift.openshift.io/v1beta1
    kind: HostedCluster
    namespace: "{{ ah_clusters_ns }}"
    name: "{{ ah_cluster_generated_name }}"
  register: ah_hc_info
  until:
    - ah_hc_info.resources is defined
    - ah_hc_info.resources | length
    - ah_hc_info | json_query('resources[0].status.conditions[? type==`Available`]') | length
    - ah_hc_info | json_query('resources[0].status.conditions[? type==`Available`].status') | first | bool
    - ah_hc_info | json_query('resources[0].status.version.history') | length
    - ah_hc_info | json_query('resources[0].status.version.history[0].state') == "Completed"
  retries: 30
  delay: 60
  no_log: true

#
# TODOs:
# For Baremetal:
# - Create InfraEnv
# - Create Agents
# - Add NodePools
# - Add nodes to the cluster
# Add disconnected support
# - "Get the user_ca_bundle content"
# - Pullsecrets from within? or from the agent?
...
