---
targetNameSpaces:
  - name: {{ tnf_ns }}
targetPodLabels:
{% if tnf_targetpodlabels_name|length and tnf_targetpodlabels_value|length %}
  - prefix: test-network-function.com
    name: {{ tnf_targetpodlabels_name }}
    value: {{ tnf_targetpodlabels_value }}
{% endif %}

certifiedcontainerinfo:

certifiedoperatorinfo:

...
