{
  "cert_projects": {{ all_cert_projects | to_nice_json(indent=2) }},
  "published": {{ pl_published.json.published if pl_published is succeeded else false | bool }},
  "target_platforms": [
    "Red Hat OpenShift"
  ],
  "type": "container stack"
}
