{
    "certification_status": "Started",
    "container": {
{% if cert_project_id | default('') | length and preflight_dci_all_components_are_ga | default(True) %}
      "auto_publish": true,
{% else %}
      "auto_publish": false,
{% endif %}
      "distribution_method": "external",
      "os_content_type": "Red Hat Universal Base Image (UBI)",
      "privileged": false,
      "registry": "{{ current_operator_image.split('/')[0] }}",
      "repository": "{{ current_operator_image.split('@')[0].split(':')[0].split('/')[1:] | join('/') }}",
      "type": "container"
    },
    "marketplace": {
      "enablement_status": "ineligible"
    },
    "name": "{{ current_operator_image.split('@')[0].split(':')[0].split('/')[-1] }}",
    "project_status": "active",
    "type": "Containers"
}
