{
  "certification_status": "Started",
  "contacts": [
    {
      "email_address": "{{ cert_listings.email_address }}",
      "type": "Technical contact"
    }
  ],
  "name": "{{ current_cnf_name }}",
  "project_status": "active",
  "type": "OpenShift-cnf"
}
