{
    "certification_status": "Started",
    "contacts": [
      {
        "email_address": "{{ cert_settings.email_address }}",
        "type": "Technical contact"
      }
    ],
    "container": {
      "auto_publish": {{ cert_settings.auto_publish | default(false) | bool }},
      "os_content_type": "Operator Bundle Image",
      "privileged": {{ cert_settings.privileged | default(false) | bool }},
      "application_categories": [
      "{{ cert_settings.application_categories }}"
      ],
      "build_categories": "Operator bundle",
      "distribution_method": "rhcc",
      "registry_override_instruct": "{{ cert_settings.registry_override_instruct }}",
      "release_category": "Generally Available",
      "repository_description": "{{ cert_settings.repository_description }}",
      "short_description": "{{ cert_item.short_description }}",
      "type": "operator bundle image"
    },
    "marketplace": {
      "enablement_status": "ineligible"
    },
    "name": "{{ cert_item.bundle_image.split('@')[0].split(':')[0].split('/')[-1] }}",
    "project_status": "active",
    "type": "Containers"
}
