---
- name: Retrieve results of the preflight tests
  vars:
    preflight_prefix: "preflight_operator_{{ operator.name }}"
    preflight_results_file: "{{ job_logs.path }}/{{ preflight_prefix }}_results.json"
    preflight_log_file: "{{ job_logs.path }}/{{ preflight_prefix }}_preflight.log"
  set_fact:
    preflight_output: "{{ lookup('file', preflight_results_file) | from_json }}"
    preflight_artifact: "{{ lookup('file', preflight_log_file) | to_json }}"
    pyxis_apikey: "{{ lookup('file', pyxis_apikey_path) }}"

- name: Set preflight release
  set_fact: 
    preflight_release: "{{ preflight_output.test_library.version.split('+')[0] }}"

- name: Get latest commit hash for the Preflight release
  ansible.builtin.uri:
    url: >
      https://api.github.com/repos/redhat-openshift-ecosystem/openshift-preflight/git/refs/tags/{{ preflight_release }}
    method: GET
  register: preflight_latest

- name: Get info of artifact file
  stat:
    path: "{{ job_logs.path }}/preflight_operator_{{ operator.name }}_preflight.log"
  register: artifact_info

- name: Print Test JSON to be submitted
  debug:
    msg: "{{ lookup('template', 'templates/test_results.json.j2') }}"

- name: Print Artifact Info to be submitted
  debug:
    msg: "{{ lookup('template', 'templates/artifact_info.json.j2') }}"

- name: Publishing artifact to Pyxis
  uri:
    url: "{{ catalog_url }}/projects/certification/id/{{ cert_project_id }}/artifacts"
    method: POST
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    body: "{{ lookup('template', 'templates/artifact_info.json.j2') }}"
    status_code: 201
    timeout: 120

- name: Submit Test result to Pyxis
  uri:
    url: "{{ catalog_url }}/projects/certification/id/{{ cert_project_id }}/test-results"
    method: POST
    headers:
      X-API-KEY: "{{ pyxis_apikey }}"
    body_format: json
    body: "{{ lookup('template', 'templates/test_results.json.j2') }}"
    status_code: 201
    timeout: 120

...
