apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: gitea
  namespace: "{{ sg_namespace }}"
spec:
  port:
    targetPort: http
  to:
    kind: Service
    name: gitea
    weight: 100
  wildcardPolicy: None
