apiVersion: v1
kind: Service
metadata:
  name: "gitea"
  namespace: "{{ sg_namespace }}"
spec:
  type: "ClusterIP"
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: gitea
